* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    padding: 2rem 5rem;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.custom-button span {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
}

.custom-button .text-1 {
    top: 50%;
    transform: translateY(-50%);
}

.custom-button .text-2 {
    top: -50%;
    transform: translateY(-50%);
}

.custom-button:hover {
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}

.custom-button:hover .text-1 {
    top: 150%;
}

.custom-button:hover .text-2 {
    top: 50%;
}

.custom-button:active {
    transform: scale(0.95);
} 